# JWT Configuration
JWT_SECRET=your-secret-key
JWT_ISSUER=cheflink-server
JWT_AUDIENCE=cheflink-clients

# Database Configuration (Optional, defaults to local SQLite if empty)
# DB_URL=jdbc:mariadb://host:port/dbname
# DB_USER=username
# DB_PASSWORD=password

# Server Configuration
SERVER_HOST=0.0.0.0
SERVER_PORT=8080

# Bootstrap admin user
ADMIN_PASSWORD=admin
